*{
    text-align: center;
    background-color: black;
    display: block;
    font-family: verdana;
}

a{
    color: aquamarine;
    font-size: 16px;
}



h1, h2, h3{
    color: white;    
    font-weight: 300;

}


h1{
    font-size: 50px;
}



h2{
    font-size: 42px;

} 


h3, p{
    color:grey !important;
    font-size: 21px;
}

p{
    text-align: right !important;
}


#front{
    width: 400px;
    display: inline-block;
    z-index: 1;

}

.middle{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.spce{
    margin-top: 20px;
}